:host {
  table {
    width: 100%;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--electric-violet);
  }
  p {
    color: var(--gray-700);
    margin-bottom: 20px;
    span {
      color: var(--black);
      font-weight: 600;
    }
  }
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .welcome-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 5px;
    background-color: var(--gray-700);
    h2 {
      color: #b973ff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .user-info-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        color: var(--gray-400);
      }
      .user-info {
        color: var(--white);
        margin-bottom: 10px;
      }
    }

    .card-actions {
      display: flex;
      gap: 8px;
    }
  }
}
linear-form-field {
  margin-bottom: 20px;
}
.edit {
  color: var(--dark-orange);
  cursor: pointer;
  transition: text-decoration 0.3s ease-in-out;
  &:hover {
    filter: brightness(0.8);
    text-decoration: underline;
  }
}
.link-off {
  color: var(--dark-violet);
  cursor: pointer;
  transition: text-decoration 0.3s ease-in-out;
  &:hover {
    filter: brightness(0.8);
    text-decoration: underline;
  }
}
.link {
  color: var(--hot-red);
  transition: text-decoration 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
    text-decoration: underline;
  }
}

.dialog-actions {
  display: flex;
  gap: 20px;
}

dialog {
  border-radius: 5px;
  padding: 20px;
  border: none;
  animation: fade-out 0.5s ease-in-out;

  &::backdrop {
    background: var(--red-to-pink-to-purple-vertical-gradient);
    opacity: 0.5;
    animation: backdrop-fade-in 0.5s ease-in-out;
  }

  &[open] {
    animation: fade-in 0.5s ease-in-out;
    &::backdrop {
      animation: backdrop-fade-in 0.5s ease-in-out forwards;
    }
  }
}
@media screen and (max-width: 595px) {
  :host {
    .card {
      width: 100%;
      min-width: unset;
      max-width: unset;
    }
  }
}
