<h1>Students</h1>
<div class="welcome-container">
  <p>
    Welcome to the students page. Here you can see all the students that are
    available.
  </p>
</div>
<section>
  @for (student of students(); track student.id) {
  <div class="card">
    <h2>Student</h2>
    <div class="user-info-container">
      <span>Username:</span
      ><span class="user-info">{{ student.username }}</span> <span>Name:</span
      ><span class="user-info">{{ student.name }}</span>
    </div>

    <div class="card-actions">
      <linear-icon
        linear-tooltip="Edit Student"
        class="edit"
        (click)="
          dialog.showModal();
          name.setValue(student.name);
          studentId.set(student.id)
        "
      >
        edit
      </linear-icon>

      <linear-slide
        [id]="student.id"
        linear-tooltip="Toggle active"
        [checked]="student.active"
        (change)="toggleActive(student)"
      >
      </linear-slide>
    </div>
  </div>
  }
</section>
<dialog #dialog>
  <h1>Create a new Student</h1>
  <div form-field>
    <linear-icon mode="fill"> signature </linear-icon>
    <input
      placeholder="Name"
      autofocus
      [formControl]="name"
      type="text"
      autocomplete="new-password"
      required
    />
  </div>
  <div class="dialog-actions">
    <button
      linear-button
      (click)="dialog.close(); onSubmit()"
      [disabled]="name.invalid"
    >
      {{ studentId() ? "Update" : "Create" }}
    </button>
    <button
      linear-button="stroked"
      (click)="dialog.close(); name.reset(); studentId.set(0)"
    >
      Close
    </button>
  </div>
</dialog>
