<section left-side>
  <h1>{{ title }}</h1>
  <p>
    {{ paragraph }}
  </p>
  <button pulso-button color="secondary" (click)="signUp = !signUp">
    {{ buttonText }}
  </button>

  <figure>
    <img [src]="src" [alt]="alt" />
  </figure>
</section>

<section right-side [formGroup]="formGroup">
  <h1>Hello, Course App</h1>
  <pulso-form-field *ngIf="signUp">
    <pulso-mat-icon pulsoPrefix> signature </pulso-mat-icon>
    <label for="name"> Name </label>
    <input
      formControlName="name"
      type="text"
      autocomplete="new-password"
      required
    />
  </pulso-form-field>
  <pulso-form-field [fixedLabel]="true">
    <pulso-mat-icon pulsoPrefix mode="filled" fontSet="person">
    </pulso-mat-icon>
    <label for="username"> Username </label>
    <input
      formControlName="username"
      type="text"
      placeholder="teste de placeholder"
      autocomplete="new-password"
      required
    />
  </pulso-form-field>
  <pulso-form-field>
    <pulso-icon
      size="medium"
      pulsoPrefix
      style="cursor: pointer"
      (click)="passwordVisible = !passwordVisible"
    >
      {{
        passwordVisible
          ? "rdicon-lock-open-filled"
          : "rdicon-lock-closed-filled"
      }}
    </pulso-icon>
    <label for="password"> Password </label>
    <input
      formControlName="password"
      [attr.type]="passwordVisible ? 'text' : 'password'"
      autocomplete="off"
      required
    />
  </pulso-form-field>
  <button
    pulso-button
    color="primary"
    [disabled]="formGroup.invalid"
    (click)="onSubmit()"
  >
    {{ linkText }}
  </button>
</section>
