<section left-side>
  <h1>{{ title }}</h1>
  <p>
    {{ paragraph }}
  </p>
  <button linear-button="stroked" (click)="signUp = !signUp">
    {{ buttonText }}
  </button>

  <figure>
    <img [src]="src" [alt]="alt" />
  </figure>
</section>

<section right-side [formGroup]="formGroup">
  <h1>Hello, Course App</h1>
  <linear-form-field *ngIf="signUp">
    <linear-icon mode="fill"> signature </linear-icon>
    <input
      placeholder="Name"
      formControlName="name"
      type="text"
      autocomplete="new-password"
      required
    />
  </linear-form-field>
  <linear-form-field>
    <linear-icon mode="fill" fontSet="person"> </linear-icon>
    <input
      placeholder="Username"
      formControlName="username"
      type="text"
      autocomplete="new-password"
      required
    />
  </linear-form-field>
  <linear-form-field>
    <linear-icon
      mode="fill"
      style="cursor: pointer"
      (click)="passwordVisible = !passwordVisible"
    >
      {{ passwordVisible ? "lock_open" : "lock" }}
    </linear-icon>
    <input
      formControlName="password"
      placeholder="Password"
      [attr.type]="passwordVisible ? 'text' : 'password'"
      autocomplete="off"
      required
    />
  </linear-form-field>
  <button linear-button [disabled]="formGroup.invalid" (click)="onSubmit()">
    {{ linkText }}
  </button>
</section>
