<h1>Courses</h1>
<div class="welcome-container">
  <p>
    Welcome
    <span>
      {{ data()?.name }}
    </span>
    to the courses page. Here you can see all the courses that are available.
  </p>
  <button
    pulso-button="primary"
    class="add-course"
    (click)="dialog.showModal()"
  >
    <pulso-mat-icon mode="filled"> add </pulso-mat-icon>
    Add Course
  </button>
</div>
<h1>Active Courses</h1>
<section>
  @for (course of data()?.courses; track course.id) {
  <div class="card">
    <h2>Course</h2>
    <h3>{{ course.name }}</h3>
    <div class="card-actions">
      <pulso-icon
        size="medium"
        linear-tooltip="Unlink Course"
        class="link-off"
        (click)="unlinkWithCourse(course.id)"
      >
        rdicon-link
      </pulso-icon>
      <pulso-icon
        linear-tooltip="Edit Course"
        size="medium"
        class="edit"
        (click)="
          courseId.set(course.id);
          name.setValue(course.name);
          dialog.showModal()
        "
      >
        rdicon-edit-filled
      </pulso-icon>
    </div>
  </div>
  } @empty {
  <p>No courses available</p>
  }
</section>
<h1>All Courses</h1>
<section>
  @for (course of courses(); track course) {
  <div class="card">
    <h2>Course</h2>
    <h3>{{ course.name }}</h3>
    <div class="card-actions">
      @if (course.active && !hasSubscribed(course.id) ) {
      <pulso-icon
        class="link"
        size="medium"
        linear-tooltip="Link Course"
        (click)="linkWithCourse(course.id)"
      >
        rdicon-link
      </pulso-icon>
      } @else {
      <pulso-icon class="link" size="medium" style="cursor: default">
      </pulso-icon>
      }
      <pulso-icon
        class="edit"
        size="medium"
        linear-tooltip="Edit Course"
        (click)="
          courseId.set(course.id);
          name.setValue(course.name);
          dialog.showModal()
        "
      >
        rdicon-edit-filled
      </pulso-icon>
      <pulso-switch
        [id]="course.id"
        linear-tooltip="Toggle active"
        [checked]="course.active"
        (change)="toggleActive(course)"
      >
      </pulso-switch>
    </div>
  </div>
  } @empty {
  <p>No courses available</p>
  }
</section>

<dialog #dialog>
  <h1>Create a new Course</h1>
  <pulso-form-field>
    <pulso-mat-icon pulsoPrefix> signature </pulso-mat-icon>
    <label>Name</label>
    <input
      autofocus
      [formControl]="name"
      type="text"
      autocomplete="new-password"
      required
    />
  </pulso-form-field>
  <div class="dialog-actions">
    <button
      pulso-button="primary"
      (click)="dialog.close(); onSubmit()"
      [disabled]="name.invalid"
    >
      {{ courseId() ? "Update" : "Create" }}
    </button>
    <button
      pulso-button="secondary"
      (click)="dialog.close(); name.reset(); courseId.set(0)"
    >
      Close
    </button>
  </div>
</dialog>
